@{
    ViewData["Title"] = "Home Page";
}

<div class="vh-100 d-flex flex-column justify-content-center align-items-center text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize" style="color:#69BFB7">Welcome to NutriPup Tech</h1>
        <h6 class="mainSubTitle">BIP Feeding System - Puppy Feeding 1</h6>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <a href="https://soudashelter.org/">
                    <img src="images/black.jpg" class="rounded-circle img-fluid" alt="Descriptive text about the image">
                </a>
            </div>
        </div>
    </div>
</div>
