@model PFS_BIP.Models.FeedingSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedingSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Puppy Id:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PuppyId)
        </dd>
        <dt class="col-sm-2">
            Number of Meals:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfMeals)
        </dd>
    </dl>
</div>

@if (Model.FeedingTimes.Any())
{
    <div>
        <h4>FeedingTimes</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feedingTime in Model.FeedingTimes)
                {
                    <tr>
                        <td>@feedingTime.StartTime.ToShortTimeString()</td>
                        <td>@feedingTime.EndTime.ToShortTimeString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No feeding times found for this feeding schedule.</p>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
